/* You can add global styles to this file, and also import other style files */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.img {
  width: 100%;
  height: 100%;
  //use the margin property to position the image in the div.
  margin: 0 0 0 0;
  padding: 10px;
}
